$primary-color: #757575;
$secondary-color: #212121;
$white-color: #ffffff;
$accent-color: #2196f3;
$background-color-footer: #2f303a;
$backgroud-color-button: #f5f4fa;
$backgroud-color-work: #f5f4fa;
$button-accent-hover: #188ce8;
$header-border-color: #ececec;
$nav-margin-a-li: 50px;
$cubic-bezeir: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font:'Roboto', sans-serif;
$secondary-font:  "Raleway", sans-serif;